---
import Layout from '../../layouts/Layout.astro';
---
<Layout>
  <div class="container">
    <h1>Blog Post 1</h1>
    <img src="/assets/blog-placeholder.jpg" alt="Blog 1" />
    <p>Full content of blog post 1...</p>
  </div>
</Layout
